@model Projekt_PAUP_Prodaja_Mobitela_Petar_Čanadi.Models.Mobitel

@{
    ViewBag.Title = "Detalji kupnje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Detalji kupnje</h2>
            <div>
                <h4>Naziv: @Model.Naziv</h4>
                <p>Proizvođač: @Model.Proizvodjac</p>
                <p>Cijena: @Model.Cijena</p>
                <p>Opis: @Model.Opis</p>
                <!-- Dodajte ostale detalje o mobitelu prema potrebi -->
            </div>
            <div class="text-center">
                <a href="@Url.Action("GenerirajRacun", "Mobiteli", new { id = Model.ID })" class="btn btn-primary">Generiraj PDF račun</a>
            </div>
        </div>
    </div>
</div>
