
@using System.Web.Mvc.Html
@model List<Mobitel>
@using Projekt_PAUP_Prodaja_Mobitela_Petar_Čanadi.Models

@{
    ViewBag.Title = "Popis mobitela";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Popis mobitela</h2>
            <div class="text-right">
                @* Forma za odjavu *@
                @using (Html.BeginForm("Odjava", "Korisnici", FormMethod.Post, new { @class = "form-inline" }))
                {
                    <button type="submit" class="btn btn-danger">Odjavi se</button>
                }
            </div>
        </div>
    </div>

    <!-- Ostatak koda za prikaz popisa mobitela -->
    @Html.ActionLink("Kreiranje novog mobitela", "Azuriraj", null, new { @class = "btn btn-primary" })
    <br />
    <br />
    @using (Html.BeginForm("Popis", "Mobiteli", FormMethod.Get, new { @class = "form-inline" }))
    {
        <div class="form-group mb-2">
            <label for="naziv" class="sr-only">Naziv</label>
            @Html.TextBox("naziv", Request.QueryString["naziv"], new { @class = "form-control", @placeholder = "Naziv" })
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label for="proizvodjac" class="sr-only">Proizvodjac</label>
            @Html.TextBox("proizvodjac", Request.QueryString["proizvodjac"], new { @class = "form-control", @placeholder = "Proizvodjac" })
        </div>
        <button type="submit" class="btn btn-primary mb-2">Traži</button>
    }

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info">@ViewBag.Message</div>
    }
    else
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Naziv</th>
                    <th>Proizvodjac</th>
                    <th>Cijena</th>
                    <th>Opis</th>
                    <th>Ažuriranje</th>
                    <th>Brisanje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var mobitel in Model)
                {
                    <tr>
                        <td>@mobitel.ID</td>
                        <td>@mobitel.Naziv</td>
                        <td>@mobitel.Proizvodjac</td>
                        <td>@mobitel.Cijena</td>
                        <td>@mobitel.Opis</td>
                        <td>@Html.ActionLink("Info", "Detalji", new { id = mobitel.ID }, new { @class = "btn btn-info" })</td>
                        <td>@Html.ActionLink("Ažuriraj", "Azuriraj", new { id = mobitel.ID }, new { @class = "btn btn-warning" })</td>
                        <td>@Html.ActionLink("Izbriši", "Brisi", new { id = mobitel.ID }, new { @class = "btn btn-danger" })</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
