@model Projekt_PAUP_Prodaja_Mobitela_Petar_Čanadi.Models.Reklamacija

<h2>Potvrda brisanja reklamacije</h2>

<div>
    <p>Jeste li sigurni da želite izbrisati reklamaciju?</p>
    <p>ID reklamacije: @Model.ReklamacijaID</p>
    <p>Račun Stavka ID: @Model.RacunStavkaID</p>
    <p>Naziv mobitela: @Model.NazivMobitela</p>
    <p>Datum Reklamacije: @Model.DatumReklamacije.ToString("dd.MM.yyyy. HH:mm")</p>
    <p>Opis: @Model.Opis</p>
    <p>Korisničko ime: @Model.KorisnickoIme</p>

    @using (Html.BeginForm("BrisiReklamaciju", "Mobiteli", new { id = Model.ReklamacijaID }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger">Izbriši reklamaciju</button>
        <a href="@Url.Action("PregledReklamacija", "Mobiteli")" class="btn btn-secondary">Odustani</a>
    }
</div>
